.titule{
    color: aliceblue;
    font-family: monospace;
    font-size: x-large;
    align-items: center;
    display: grid;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 35px;
    border: 4px solid rgba(0, 0, 0, 0.473);
    margin-left: 100px;
    margin-right: 100px;
}